@model finalProject.Models.GroupProvider

@{
    ViewData["Title"] = "Details";
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>GroupProvider</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasOptions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasOptions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasSecondaryOptions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasSecondaryOptions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasInput)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasInput)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasSecondaryInput)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasSecondaryInput)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasAdditionalInput)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasAdditionalInput)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoreProvider)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoreProvider.BackColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderCategroyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderCategroyId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
