@model finalProject.Models.ProviderAdditionalInformation

@{
    ViewData["Title"] = "Delete";
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ProviderAdditionalInformation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InputText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InputText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondaryInputText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondaryInputText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalInputText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalInputText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstInputValidLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstInputValidLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondaryInputValidLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondaryInputValidLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalInputValidLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalInputValidLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupProvider)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupProvider.BackColor)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
