@model IEnumerable<finalProject.Models.ProviderAdditionalInformation>

@{
    ViewData["Title"] = "Index";
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InputText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondaryInputText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalInputText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstInputValidLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondaryInputValidLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalInputValidLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupProvider)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InputText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondaryInputText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalInputText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstInputValidLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondaryInputValidLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalInputValidLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupProvider.BackColor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
