@model finalProject.Models.ProviderOption

@{
    ViewData["Title"] = "Details";
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ProviderOption</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LabelText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LabelText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFirstOption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFirstOption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSecondaryOption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSecondaryOption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupProvider)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupProvider.BackColor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
