@model finalProject.Models.TopProvider

@{
    ViewData["Title"] = "Details";
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TopProvider</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LangId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LangId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
